{% extends 'master.html' %}
{% load markup tagging_tags %}
{% block title %}Lista de parques{%endblock%}
{% block map %} {% endblock %}
{% block content %}
<ul>
    {% for object in object_list %}
    
    <li>
    <h3><a href="{% url maap.views.park_detail object.pk %}">{{object.name}}</a></h3>
    <p class="discreet tags">    
    {% tags_for_object object as tags%}
    {% for tag in tags%}
    <a href="{% url maap.views.obj_list_by_tag tag %}">{{tag}}</a>
    {% endfor %}
    </p>

    </li>
    {% endfor %}
</ul>
{% endblock %}

