    {% extends 'maap/base.html' %}
{% load markup tagging_tags banner_tags%}

{% block js_onload %}

    state.loadLayer({{object.id}}, false, function(layer){
        layer.show();    
    });
    
{% endblock %}


{% block title %}{{object.title}}{% endblock %}
{% block content %}
    
    <h1>{{object.title}}</h1> 

    <p class="discreet tags">    
    {% tags_for_object object as tags%}
    {% for tag in tags%}
    <a href="{% url maap.views.obj_list_by_tag tag %}">{{tag}}</a>
    {% endfor %}
    </p>

    <div id="banner-slot-b">
    {% pop_slot 'b-1' %}
    </div>
    <p>{{object.description|markdown }}</p>
    <br class="visualClear" />
{% endblock %}

